<!DOCTYPE html>
<html lang="en">
  <!-- ======== HEAD =================== -->
  <%- include('../partials/head.ejs') %>
  <body>
    <!-- ===== HEADER  ================= -->
    <%- include('../partials/header.ejs') %>

    <section class="home-todo-vitrinas">
      <div class="home-titulo">
        <h4>Resultado de la busqueda</h4>
      </div>

      <div class="search-notFound">
        <br />
        <h1>Ups!!</h1>
        <br />
        <h1>No se encontro nada!!</h1>
        <div class="img-notFound">
          <img src="/images/error-image.jpg" alt="error" />
        </div>
      </div>
    </section>

    <!-- ======= FOOTER  ====== -->
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
