/* Generals Styles */

*{
  box-sizing: border-box;
}

body{
  margin:0
}
p {
  font-family: lato;
  font-size: 14px;
  color: #3D494F;
  font-weight: 400;
}
h2{
  font-size: 21px;
  font-family: Poppins;
  font-weight: 600;
}

h3{
  font-size: 18px;
  font-family: Poppins;
  font-weight: 600;
}

h4{
  font-size: 16px;
  font-family: Poppins;
  font-weight: 500;
}

h5{
  font-size: 14px;
  font-family: Poppins;
  font-weight: 600;
}

h6{
  font-size: 12px;
  font-family: lato;
  font-weight: 400;
}