<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
 
   <div class="search-notFound">
    <br />
    <h1>Ups!!</h1>
    <br />
    <h1>No se encontro nada!!</h1>
    <div class="img-notFound">
     <img src="/images/error-image.jpg" alt="error" />
    </div>
   </div>
  </section>

 </body>
</html>
