<footer>
  <!-- <h3 class="footer-electrodoggy-text">ElectroDoggy</h3>-->
  <div class="footer-electrodoggy-text"><img src="/images/logo.png" /></div>

  <div class="footer-container">
    <h3>Servicio al cliente</h3>
    <h5>Preguntas frecuentes</h5>
    <h5>Términos y condiciones</h5>
    <h5>Politicas de privacidad</h5>
  </div>

  <hr />

  <div class="footer-container">
    <h3>Conócenos</h3>
    <h5>Sobre nosotros</h5>
    <h5>Nuestras tiendas</h5>
  </div>

  <hr />

  <div class="footer-container-icons">
    <h3>Síguenos en:</h3>
    <i class="fab fa-facebook" id="footer-icons-footer"></i>
    <i class="fab fa-twitter" id="footer-icons-footer"></i>
    <i class="fab fa-instagram" id="footer-icons-footer"></i>
  </div>

  <div class="footer-copy-right">
    <i class="fas fa-copyright" id="footer-copy-right-icon"></i>
    <p class="footer-copy-right-text">
      2022 ElectroDoggy. Todos los derechos reservados
    </p>
  </div>
</footer>
